ion-content {
  ion-img::part(image) {
    object-fit: cover;
    border-radius: 100px !important;
    //border: 2px solid #fca3a3;
  }

  .pro-pic {
    width: 150px;
    height: 150px;
  }

  h1,h2,p {
    font-weight: bold !important;
  }

  ion-segment {
    margin-top: 14px;
  }

  .margin {
    margin-top: 10px !important;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
