<ion-header>
  <ion-toolbar color="warning">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>Product - Cart</ion-title>

    <ion-button (click)="next()" slot="end" fill="clear" color="dark">
      Next
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Product Title</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="title" name="title" type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>Product Description</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="imp" name="imp" type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>Product Price</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="price" name="price" type="number" inputmode="number"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>Where To Buy</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="buy" name="buy" type="text" inputmode="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>Product Shop URL</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input [(ngModel)]="url" name="url" type="url" inputmode="url"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
