<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        My Unpublished Carts
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row *ngIf="data.length > 0">
  <ion-col size="4" *ngFor="let cart of data">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{ cart.cart_name }}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>
    <ion-button (click)="go(cart.id)" fill="clear" size="small">
      <ion-icon slot="start" name="pencil-outline"></ion-icon> Edit Cart
    </ion-button>
    <ion-button fill="clear" size="small">
      <ion-icon slot="start" name="trash-outline"></ion-icon> Delete Cart
    </ion-button>
  </ion-col>
</ion-row>

<ion-row *ngIf="data.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found.
      </ion-text>
    </p>
  </ion-col>
</ion-row>

<ion-row *ngIf="data.length > 0">
<!--  <ion-col size="6">-->
<!--    <ion-button fill="clear">-->
<!--      <ion-icon slot="start" name="trash-outline"></ion-icon> Delete Cart-->
<!--    </ion-button>-->
<!--  </ion-col>-->

<!--  <ion-col size="6">-->
<!--    <ion-button color="medium" fill="clear" expand="full">-->
<!--      More-->
<!--    </ion-button>-->
<!--  </ion-col>-->
</ion-row>
