<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">Profile</ion-title>
      <ion-button slot="end" fill="clear" shape="round" color="dark">
        <ion-icon slot="start" name="add-outline"></ion-icon> Create cart
      </ion-button>
    </ion-toolbar>

  </ion-header>




  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="pro-pic" src="https://images.pexels.com/photos/3214729/pexels-photo-3214729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></ion-img>

        <div class="margin">
          <ion-label>
            <h1>
              <ion-text color="dark">
                John Doe
              </ion-text>
            </h1>
            <div class="flex">
              <p>
                <ion-button fill="solid" color="light">2 Followers</ion-button>
              </p>
              <p>
                <ion-button fill="solid" color="dark">3 Opens</ion-button>
              </p>
            </div>

          </ion-label>
        </div>

      </ion-col>
    </ion-row>

    <!-- segment -->
    <ion-segment (ionChange)="segmentChanged($event)" scrollable value="pub" color="primary">

      <ion-segment-button value="pub">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>Published</ion-label>
      </ion-segment-button>
      <ion-segment-button value="unpub">
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>Drafted</ion-label>
      </ion-segment-button>
      <ion-segment-button value="saved">
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>Saved Cart</ion-label>
      </ion-segment-button>
      <ion-segment-button value="follow">
        <ion-icon name="eye-outline"></ion-icon>
        <ion-label>Cart Follow</ion-label>
      </ion-segment-button>
<!--      <ion-segment-button value="list">-->
<!--        <ion-icon name="list-outline"></ion-icon>-->
<!--        <ion-label>Cart Lists</ion-label>-->
<!--      </ion-segment-button>-->

    </ion-segment>

    <div *ngIf="published">
      <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
      <ion-row>
        <ion-col>
          <h2>
            <ion-text color="">
              My Published Carts
            </ion-text>
          </h2>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="data.length > 0">
        <ion-col size="4" *ngFor="let cart of data">
          <ion-img (click)="cartScreen(cart.id, cart.cart_name)" [src]="cart.main_photo"></ion-img>

          <div class="margin">
            <ion-label>
              <h2>{{ cart.cart_name }}</h2>
              <p>{{cart.opens}} Opens</p>
            </ion-label>
          </div>
            <ion-button fill="clear" size="small">
              <ion-icon slot="start" name="trash-outline"></ion-icon> Delete Cart
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="data.length === 0">
        <ion-col>
          <p>
            <ion-text>
              No cart found.
            </ion-text>
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="data.length > 0">
<!--        <ion-col size="6">-->
<!--          <ion-button fill="clear">-->
<!--            <ion-icon slot="start" name="trash-outline"></ion-icon> Delete Cart-->
<!--          </ion-button>-->
<!--        </ion-col>-->

<!--        <ion-col size="6">-->
<!--          <ion-button color="medium" fill="clear" expand="full">-->
<!--            More-->
<!--          </ion-button>-->
<!--        </ion-col>-->
      </ion-row>
    </div>

    <app-unpublished-cart *ngIf="unpublished"></app-unpublished-cart>

    <app-save-carts *ngIf="saved"></app-save-carts>

    <app-cart-follow *ngIf="follow"></app-cart-follow>

  </ion-grid>

  <ion-button (click)="logout()" fill="clear" color="primary">
    Logout
  </ion-button>

</ion-content>
