// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

/*
   * Dark Colors
   * -------------------------------------------
   */

body {
  --ion-color-primary: #00D88B;
  --ion-color-primary-rgb: 0,
    216,
    139;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,
    0,
    0;
  --ion-color-primary-shade: #00be7a;
  --ion-color-primary-tint: #1adc97;

  /** secondary **/
  --ion-color-secondary: #374e4b;
  --ion-color-secondary-rgb: 55,
    78,
    75;
  --ion-color-secondary-contrast: #00D88B;
  --ion-color-secondary-contrast-rgb: 255,
    255,
    255;
  --ion-color-secondary-shade: #304542;
  --ion-color-secondary-tint: #4b605d;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #0F221E;
  --ion-background-color-rgb: 15,
    34,
    30;

  --ion-text-color: #fcfcfc;
  --ion-text-color-rgb: 252,
    252,
    252;

  --ion-color-step-50: #1b2d29;
  --ion-color-step-100: #273834;
  --ion-color-step-150: #33433f;
  --ion-color-step-200: #3e4e4a;
  --ion-color-step-250: #4a5956;
  --ion-color-step-300: #566361;
  --ion-color-step-350: #626e6c;
  --ion-color-step-400: #6e7977;
  --ion-color-step-450: #7a8482;
  --ion-color-step-500: #868f8d;
  --ion-color-step-550: #919a98;
  --ion-color-step-600: #9da5a3;
  --ion-color-step-650: #a9b0ae;
  --ion-color-step-700: #b5bbb9;
  --ion-color-step-750: #c1c6c5;
  --ion-color-step-800: #cdd0d0;
  --ion-color-step-850: #d8dbdb;
  --ion-color-step-900: #e4e6e6;
  --ion-color-step-950: #f0f1f1;

  // --ion-item-background: #000000;

  --ion-card-background: #273B38;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body {
  --ion-background-color: #0F221E;
  --ion-background-color-rgb: 15,
    34,
    30;

  --ion-text-color: #fcfcfc;
  --ion-text-color-rgb: 252,
    252,
    252;

  --ion-color-step-50: #1b2d29;
  --ion-color-step-100: #273834;
  --ion-color-step-150: #33433f;
  --ion-color-step-200: #3e4e4a;
  --ion-color-step-250: #4a5956;
  --ion-color-step-300: #566361;
  --ion-color-step-350: #626e6c;
  --ion-color-step-400: #6e7977;
  --ion-color-step-450: #7a8482;
  --ion-color-step-500: #868f8d;
  --ion-color-step-550: #919a98;
  --ion-color-step-600: #9da5a3;
  --ion-color-step-650: #a9b0ae;
  --ion-color-step-700: #b5bbb9;
  --ion-color-step-750: #c1c6c5;
  --ion-color-step-800: #cdd0d0;
  --ion-color-step-850: #d8dbdb;
  --ion-color-step-900: #e4e6e6;
  --ion-color-step-950: #f0f1f1;

  // --ion-item-background: #1e1e1e;

  // --ion-toolbar-background: #1f1f1f;

  // --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #273B38;
}


@media (prefers-color-scheme: dark) {}
