<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">
        Discover
      </ion-title>
<!--      <ion-buttons slot="end">-->
<!--        <ion-button fill="clear">-->
<!--          <ion-icon name="add-outline" size="large"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-buttons>-->
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar color="danger" *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item (click)="level_one_screen(item.cateId, item.title)" button lines="full" *ngFor="let item of data">
      <ion-icon *ngIf="item.cateId === 1" slot="start" color="warning" name="cafe-outline"></ion-icon>

      <ion-icon *ngIf="item.cateId === 2" slot="start" color="danger" name="shirt-outline"></ion-icon>

      <ion-icon *ngIf="item.cateId === 3" slot="start" color="success" name="logo-apple"></ion-icon>

      <ion-label>
        <h1>{{ item.title }}</h1>
        <p>
          {{ item.description }}
        </p>
      </ion-label>


    </ion-item>
  </ion-list>

  <div class="float-btn">
    <ion-button (click)="createCart()" size="medium" fill="solid" shape="round" color="warning"><ion-icon slot="start" name="add-outline"></ion-icon> Create Cart</ion-button>
  </div>

</ion-content>
