<ion-card button="true">
  <ion-img
    src="https://images.pexels.com/photos/5872364/pexels-photo-5872364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  </ion-img>

  <ion-card-header>
    <ion-card-subtitle>
      Gifts
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-label>
      <h1>
        <ion-text color="dark">
          Exclusive Sale 10% Off
        </ion-text>
      </h1>
      <p>
        <ion-text color="medium">
          Lorem lipsum is a siply dummy text.
        </ion-text>
      </p>
      <p>
        <ion-text color="medium">
          Expiry: 31st Dec, 2022
        </ion-text>
      </p>
    </ion-label>
  </ion-card-content>

</ion-card>


<ion-card button="true">
  <ion-img
    src="https://images.pexels.com/photos/2460436/pexels-photo-2460436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  </ion-img>

  <ion-card-header>
    <ion-card-subtitle>
      Foods
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-label>
      <h1>
        <ion-text color="dark">
          Cafe 50% Off
        </ion-text>
      </h1>
      <p>
        <ion-text color="medium">
          Lorem lipsum is a siply dummy text.
        </ion-text>
      </p>
      <p>
        <ion-text color="medium">
          Expiry: 31st Dec, 2022
        </ion-text>
      </p>
    </ion-label>
  </ion-card-content>

</ion-card>
