<ion-header>
  <ion-toolbar color="warning">
    <ion-back-button slot="start" color="dark"></ion-back-button>
    <ion-title>Create Cart</ion-title>

    <ion-button (click)="next()" slot="end" fill="clear" color="dark">
      Next
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex">
    <ion-list lines="none">
      <ion-item-group>
        <ion-radio-group (ionChange)="getMainCate($event)">
          <ion-list-header>
            Choose A List
          </ion-list-header>

          <ion-item>
            <ion-label>Places</ion-label>
            <ion-radio mode="md" slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Products</ion-label>
            <ion-radio mode="md" slot="start" value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Brands</ion-label>
            <ion-radio mode="md" slot="start" value="3"></ion-radio>
          </ion-item>


        </ion-radio-group>
      </ion-item-group>
      <ion-item-divider></ion-item-divider>

      <ion-item-group>
        <ion-list-header>Levels</ion-list-header>
        <ion-item>
          <ion-select interface="popover" placeholder="Level One" (ionChange)="selectLevelOne($event)">
            <ion-select-option *ngFor="let item of levelOne" [value]="item.oneId">{{item.title}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="popover" placeholder="Level Two" (ionChange)="level_two($event)">
            <ion-select-option *ngFor="let item of levelTwo" [value]="item.twoId">{{item.title}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-item-group>

      <ion-item-divider></ion-item-divider>

      <ion-item-group>
        <ion-list-header>Cart Info</ion-list-header>
        <ion-item>
<!--          <ion-label position="floating">Name Of Cart</ion-label>-->
          <ion-input type="text" placeholder="Name Of Cart" inputmode="text" [(ngModel)]="cart.cartName" name="cartName"></ion-input>

        </ion-item>
        <ion-item>
<!--          <ion-label position="floating">Important Details</ion-label>-->
          <ion-textarea [(ngModel)]="cart.cartDesc" placeholder="Important Details: For example, this is where you would paste a recipe." name="cartDesc"></ion-textarea>
        </ion-item>
      </ion-item-group>

      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-button size="large" fill="clear" shape="round" expand="block" (click)="choosePhoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Main Photo Of Cart
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-img *ngIf="mainPhoto !== ''" [src]="mainPhoto"></ion-img>
      </ion-item>

      <ion-item-divider></ion-item-divider>
    </ion-list>
  </div>

</ion-content>
