<ion-header>
  <ion-toolbar color="warning">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Create Cart</ion-title>

    <ion-button slot="end" fill="clear" color="primary">
      Next
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex">
    <ion-list>
      <ion-item-group>
        <ion-radio-group value="biff">
          <ion-list-header>
            <ion-label>Choose A List</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Places</ion-label>
            <ion-radio slot="start" value="places"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Products</ion-label>
            <ion-radio slot="start" value="products"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Brands</ion-label>
            <ion-radio slot="start" value="brands"></ion-radio>
          </ion-item>


        </ion-radio-group>
      </ion-item-group>
      <ion-item-divider></ion-item-divider>
      <ion-item-group>
        <ion-item>
<!--          <ion-label position="floating">Name Of Cart</ion-label>-->
          <ion-input type="text" placeholder="Name Of Cart" inputmode="text"></ion-input>
        </ion-item>
        <ion-item>
<!--          <ion-label position="floating">Important Details</ion-label>-->
          <ion-textarea placeholder="Important Details: For example, this is where you would paste a recipe."></ion-textarea>
        </ion-item>
      </ion-item-group>

      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-button size="large" fill="clear" shape="round" expand="block" (click)="choosePhoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Main Photo Of Cart
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
