<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        Places (single destination)
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6" *ngFor="let cart of data">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{cart.cart_name}}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>

  </ion-col>

</ion-row>

<ion-row *ngIf="data.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found..
      </ion-text>
    </p>
  </ion-col>
</ion-row>

<!------------------------------>

<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        Places (multi destination)
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6" *ngFor="let cart of data">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{cart.cart_name}}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>

  </ion-col>

</ion-row>

<ion-row *ngIf="data.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found..
      </ion-text>
    </p>
  </ion-col>
</ion-row>

<!------------------------------>

<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        Products/Things (single destination)
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6" *ngFor="let cart of dataProducts">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{cart.cart_name}}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>

  </ion-col>

</ion-row>

<ion-row *ngIf="dataProducts.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found..
      </ion-text>
    </p>
  </ion-col>
</ion-row>

<!------------------------------>

<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        Products/Things (multi destination)
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6" *ngFor="let cart of dataProducts">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{cart.cart_name}}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>

  </ion-col>

</ion-row>

<ion-row *ngIf="dataProducts.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found..
      </ion-text>
    </p>
  </ion-col>
</ion-row>

<!------------------------------>

<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        Brands/People
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6" *ngFor="let cart of brandsData">
    <ion-img (click)="cartScreen(cart.id, cart.cart_name);" [src]="cart.main_photo"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>{{cart.cart_name}}</h2>
        <p>{{cart.opens}} Opens</p>
      </ion-label>
    </div>

  </ion-col>

</ion-row>

<ion-row *ngIf="brandsData.length === 0">
  <ion-col>
    <p>
      <ion-text>
        No cart found..
      </ion-text>
    </p>
  </ion-col>
</ion-row>
