<ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-row>
  <ion-col>
    <h2>
      <ion-text color="">
        My Saved Carts
      </ion-text>
    </h2>
  </ion-col>

</ion-row>

<ion-row>
  <ion-col size="6">
    <ion-img src="https://images.pexels.com/photos/3214729/pexels-photo-3214729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>Name Of Cart</h2>
        <p>32 Opens</p>
      </ion-label>
    </div>

  </ion-col>

  <ion-col size="6">
    <ion-img src="https://images.pexels.com/photos/3214729/pexels-photo-3214729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></ion-img>

    <div class="margin">
      <ion-label>
        <h2>Name Of Cart</h2>
        <p>32 Opens</p>
      </ion-label>
    </div>

  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="6">
    <ion-button fill="clear">
      <ion-icon slot="start" name="trash-outline"></ion-icon> Remove Cart
    </ion-button>
  </ion-col>

  <ion-col size="6">
    <ion-button color="medium" fill="clear" expand="full">
      More
    </ion-button>
  </ion-col>

</ion-row>
