ion-img::part(image) {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px !important;
  border: 2px solid #ff5353;
}

ion-chip {
  --background: #ffe01d;
  --color: #000000;
  margin-top: 20px;
}

.name_user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  margin-bottom: 14px;

}
