<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{ name }}</ion-title>

    <ion-button *ngIf="!savedCart" slot="end" fill="clear" color="primary" (click)="save_cart()">
      Save cart
    </ion-button>
    <ion-button *ngIf="savedCart" slot="end" fill="clear" color="dark">
      Saved
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-progress-bar color="danger" *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <ion-label class="ion-text-wrap">
    <h1>
      <ion-text>
        {{data.cart}}
      </ion-text>
    </h1>
  </ion-label>
  <ion-img [src]="data.cart_photo"></ion-img>

  <ion-text color="primary" (click)="gotoProfile(data.user?.id)">
    <h4>{{ data.user?.name }}</h4>
  </ion-text>

  <div class="name_user">

    <ion-button fill="solid" size="small" color="light">{{ data.opens }} Opens</ion-button>

    <ion-button *ngIf="following" fill="solid" size="small" color="dark" >Following</ion-button>

    <ion-button *ngIf="!following" fill="outline" size="small" color="dark" (click)="follow(data.user?.id)">Follow</ion-button>

  </div>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Description</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{ data.description }}
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-chip (click)="product_screen(item.typeId, item.type)" *ngFor="let item of data.product_categories">
    <ion-label>{{ item.type }}</ion-label>
  </ion-chip>

</ion-content>
