ion-content {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // height: 88vh;
    margin-top: 20%;

    ion-img {
      width: 180px;
      height: 120px;
      margin: 0 auto;
    }

    ion-label {
      margin-top: 18px;
      text-align: center;
    }

    ion-button {
      margin-top: 20px;
    }

    ion-input {
      --background: #f4f4f4;
      --padding-start: 12px;
      border-radius: 14px;
    }
  }

}
