<ion-content class="ion-padding">
  <div class="flex">
    <!-- <ion-img src="https://thedailyplanet.app/images/bescrow.png"></ion-img> -->
    <ion-label>
      <h1>Create Your Account</h1>
      <p>Already have an account? <ion-text (click)="login()" color="dark">Login</ion-text>
      </p>
    </ion-label>

    <ion-item style="margin-top: 20pt;">
      <ion-input type="text" inputmode="text" placeholder="Your Name" [(ngModel)]="log.name" name="name"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20pt;">
      <ion-input type="email" inputmode="email" placeholder="Email" [(ngModel)]="log.email" name="email"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">
      <ion-input type="password" inputmode="password" placeholder="Password" [(ngModel)]="log.pass" name="pass">
      </ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;">
      <ion-input type="password" inputmode="password" placeholder="Confirm Password" [(ngModel)]="log.confpass" name="confpass">
      </ion-input>
    </ion-item>



    <ion-item style="margin-top: 20pt;">
      <ion-input type="url" inputmode="url" placeholder="Twitter" [(ngModel)]="log.tw" name="tw"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20pt;">
      <ion-input type="url" inputmode="url" placeholder="Facebook" [(ngModel)]="log.fb" name="fb"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20pt;">
      <ion-input type="url" inputmode="url" placeholder="Pinterest" [(ngModel)]="log.pin" name="pin"></ion-input>
    </ion-item>

    <ion-button (click)="signup()" color="primary" expand="block">Sign Up</ion-button>


  </div>



</ion-content>
